* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  background: black;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-h1 {
  margin-left: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.header-flex-content {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.child-a-header {
  margin: 10px;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.child-a-header:hover {
  color: #333;
}

#body {
  font-family: system-ui, sans-serif;
  background-color: black;
  color: #333;
  line-height: 1.6;
  padding-top: 0;
}

#about-me {
  background-color: black;
  padding: 6rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 70vh;
  font-size: 2rem;
}

.about-me-right-hero-section {
  max-width: 550px;
}

.about-me-right-hero-section img {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid aliceblue;
}

.about-me-left-hero-section h2 {
  font-size: 3.5 rem;
  font-weight: 800;
  color: aliceblue;
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

.about-me-left-hero-section p {
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.about-me-left-hero-section button {
  background: #007bff;
  font-size: medium;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#project {
  background-color: black;
  padding: 6rem 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 70vb;
  font-size: 2rem;
}

.project-hero-top {
  color: white;
}

.project-hero-mid {
  color: white;
}

/* section {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
}

img {
  border-radius: 8px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

form div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 60px;
}

input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #666;
}
 */
